@font-face {
 	font-family: Edwardian;
 	src: url("../fonts/itcedscr.eot") /* EOT file for IE */
}
@font-face {
 	font-family: Edwardian;
 	src: url("../fonts/itcedscr.ttf") /* TTF file for CSS3 browsers */
}