body {
	/*background: url(../images/content-bg-5.jpg) repeat;*/
        /*background: url(../images/content-bg-7.jpg) repeat;*/
        background: url(../images/bg-rock.jpg) repeat;
	color: #736e5f;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 940px;
	padding: 0;
}
a {
	outline: none;
}
img {
	border: 0;
}
p {
	line-height: 24px;
	margin: 0;
}
p a,
#body div#content div#services div.section div span a {
	color: #736e5f;
}
p a:hover,
#footer div div.last div a:hover,
#body div#content div#product ul li h2 a:hover,
#body div#content div#blog div.section ul li p a.readmore:hover,
#body div#content div#home div.sidebar ul li p a.readmore:hover,
#body div#content div#blog div.section ul li h2 a:hover,
#body div#content div#services div.section div span a:hover {
	color: #898066;
}
#header {
	background: url(../images/header-bg.png) repeat;
	border-bottom: 1px solid #000000;
	height: 130px;
}
#header div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 0 10px;
	width: 930px;
}
#header div #logo {
	float: left;
	padding-top:23px;
	width:325px;
}
#header div ul {
	float: right;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#header div ul li {
	border-left: 1px solid #282725;
	float: left;
	height: 130px;
	padding: 0 20px;
}
#header div ul li:first-child {
	border: none;
}
#header div ul li a {
	color: #736e5f;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	letter-spacing: 0.075em;
	line-height: 185px;
	text-decoration: none;
}
#header div ul li a.current,
#header div ul li a:hover {
	border-bottom: 1px solid #c9bb90;
	color: #c9bb90;
	padding: 0 0 3px;
}
#header div ul li a:hover {
	border-bottom: none;
}
#body {
	background: url(../images/bg-content.jpg) repeat-x;
	width: 100%;
}
#body div#featured {
	margin: 0 auto;
	min-height: 69px;
	overflow: hidden;
	padding: 10px 10px 0;
	width: 930px;
}
#body div#featured h1 {
	color: #8e7835;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 48px;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 47px 0;
}
#body div#featured h3 {
	color: #8e7835;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 26px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 48px;
	padding: 42px 0;
	margin: 0;
}
#body div#featured h3 a {
	color: #8e7835;
	border-bottom: 1px solid #8e7835;
	text-decoration: none;
}
#body div#featured div.section {
	overflow: hidden;
	padding: 70px 0 50px;
}
#body div#featured div.section img {
	display: block;
	float: left;
	margin: 5px 0 0;
}
#body div#featured div.section div {
	float: right;
	width: 530px;
}
#body div#featured div.section div h2 {
	color: #8e7835;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 26px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 39px;
	margin: 0;
	width: 490px;
}
#body div#featured div.section div h2 a {
	border-bottom: 1px solid #8e7835;
	color: #8e7835;
	text-decoration: none;
}
#body div#featured div.section div p {
	letter-spacing: 0.05em;
	text-align: justify;
}
#body div#featured div.first {
	float: left;
	overflow: hidden;
	margin: 0 0 0 25px;
	width: 595px;
}
#body div#featured div.first div {
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	margin: 48px 0 0;
	width: 250px;
}
#body div#featured div.first div h2 {
	color: #8e7835;
	font-size: 34px;
	font-weight: normal;
	line-height: 48px;
	letter-spacing: 0.025em;
	margin: 0;
	padding: 0 0 40px;
}
#body div#featured div.first div p {
	line-height: 24px;
	margin: 0 auto;
	width: 200px;
}
#body div#featured div.first div a#shopnow {
	background: #736e5f;
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;
	height: 30px;
	letter-spacing: 0.025em;
	line-height: 30px;
	margin: 20px 0 0;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
}
#body div#featured div.first div a#shopnow:hover,
#footer div div.last form input#go:hover,
#body div#content div#contact div form input#submit:hover {
	background: #857c61;
}
#body div#featured div.first span {
	display: block;
	float: right;
}
#body div#featured div.first span img {
	display: block;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}
#body div#featured div.last li a img:hover,
#body div#content div#blog div.section ul li a img:hover {
	filter: alpha(opacity=90);
	opacity: 0.9;
}
#body div#featured div.last {
	float: right;
	font-family: Verdana, Geneva, sans-serif;
	margin: 25px 30px 0 0;
	width: 240px;
}
#body div#featured div.last h3 {
	color: #736e5f;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 0 0 25px;
	text-align: center;
}
#body div#featured div.last ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#body div#featured div.last ul li {
	margin: 17px 0 0;
	width: 240px;
}
#body div#featured div.last ul li:first-child {
	margin: 0;
}
#body div#featured div.last ul li p {
	letter-spacing: 0.05em;
}
#body div#featured div.last li a img {
	display: block;
	margin: 0 0 7px;
	filter: alpha(opacity=100);
	opacity: 1;
}
#body div#content {
	/*background: url(../images/content-bg-8.jpg) repeat;bg-pattern.jpg*/
        /*background: url(../images/content-bg-4.jpg) repeat;*/
        background: url(../images/bg-pattern.jpg) repeat;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	padding: 20px 0 38px;
	width: 100%;
}
#body div#content div#home,
#body div#content div#product,
#body div#content div#services,
#body div#content div#blog {
	margin: 0 auto;
	overflow: hidden;
	width: 940px;
}
#body div#content div#home div.section {
	float: left;
	padding: 0 0 0 10px;
	width: 590px;
}
#body div#content div#home h4,
#footer div h4 {
	color: #c9bb90;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0.025em;
	line-height: 48px;
	margin: 0;
}
#body div#content div#home div.section h1 {
	color: #8e7835;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	font-weight: normal;
	letter-spacing: 0.025em;
	line-height: 48px;
	margin: 0;
}
#body div#content div#home div.section ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 30px 0 0;
}
#body div#content div#home div.section ul li,
#body div#content div#services div.section ul li {
	background: url(../images/border.jpg) repeat-y 20px top;
	float: left;
	padding: 0 0 0 39px;
	width: 170px;
}
#body div#content div#home div.section ul li:first-child,
#body div#content div#services div.section ul li:first-child {
	background: none;
	padding: 0;
}
#body div#content div#home div.section ul li img {
	display: block;
	margin: 0 0 24px;
}
#body div#content div#home div.section ul li img {
	display: block;
	margin: 0 0 10px;
}
#body div#content div#home div.section ul li h2 {
	color: #736e5f;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
#body div#content div#home div.sidebar {
	background: #2e2d2a;
	border-radius: 3px;
	color: #948d78;
	float: left;
	margin: 0 10px 0 0;
	padding: 20px;
	width: 220px;
}
#body div#content div#home div.sidebar h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 24px;
	margin: 0;
}
#body div#content div#home div.sidebar p {
	letter-spacing: 0.05em;
	padding: 0 0 10px;
}
#body div#content div#home div.sidebar div {
	border-top: 1px solid #22201f;
	padding: 15px 0;
}
#body div#content div#home div.sidebar div  p {
	padding: 0;
}
#body div#content div#home div.sidebar div.first {
	border: none;
}
#body div#content div#home div.sidebar div a {
	color: #948d78;
	letter-spacing: 0.025em;
	line-height: 24px;
	text-decoration: none;
}
#body div#content div#home div.sidebar div span {
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 0.05em;
	line-height: 24px;
}
/*
#body div#content div#home div.sidebar {
	float: right;
	width: 310px;
}
#body div#content div#home div.sidebar ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}
#body div#content div#home div.sidebar ul li {
	background: #1a1918;
	border-radius: 3px;
	height: 100px;
	margin: 22px 0 0;
	padding: 13px 20px 10px;
}
#body div#content div#home div.sidebar ul li:first-child {
	margin: 0;
}
#body div#content div#home div.sidebar ul li span,
#body div#content div#home div.sidebar ul li p a.readmore,*/
#body div#content div#blog div.section ul li span,
#body div#content div#blog div.section ul li p a.readmore,
#body div#content div#blog div#article span {
	color: #3d3c3a;
	display: block;
	font-size: 12px;
	letter-spacing: 0.025em;
	line-height: 24px;
}
/*#body div#content div#home div.sidebar ul li h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.025em;
	line-height: 24px;
	margin: 0;
}
#body div#content div#home div.sidebar ul li p {
	letter-spacing: 0.024em;
}
#body div#content div#home div.sidebar ul li p a.readmore {
	display: inline;
	text-decoration: none;
}*/
#body div#content div#product ul {
	font-family: Verdana, Geneva, sans-serif;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 15px 0 0;
}
#body div#content div#product ul li {
	float: left;
	margin: 0 0 40px;
	overflow: hidden;
	padding: 0 50px 0 10px;
	width: 410px;
}
#body div#content div#product ul li img {
	border: 1px solid #222222;
	display: block;
	float: left;
	margin: 5px 15px 0 0;
}
#body div#content div#product ul li h2 {
	color: #736e5f;
	font-size: 16px;
	letter-spacing: 0.025em;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
#body div#content div#product ul li p {
	letter-spacing: 0.025em;
}
#body div#content div#product ul li span {
	background: #2e2d2a;
	border-radius: 3px;
	display: inline-block;
	font-family: Verdana, Geneva, sans-serif;
	height: 31px;
	letter-spacing: 0.025em;
	line-height: 31px;
	margin: 10px 0 0;
	padding: 0 12px;
        color:#FFF;
}
#body div#content div#services {
	padding: 15px 0 0;
}
#body div#content div#services div.section {
	float: left;
	padding: 0 0 0 10px;
	width: 620px;
}
#body div#content div#services div.section h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	width: 430px;
}
#body div#content div#services div.section ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 18px 0 30px;
}
#body div#content div#services div.section ul li {
	width: 180px;
}
#body div#content div#services div.section div {
	overflow: hidden;
}
#body div#content div#services div.section div span {
	display: block;
	float: left;
	letter-spacing: 0.05em;
	line-height: 24px;
	text-align: justify;
	width: 270px;
}
#body div#content div#services div.section div ul {
	list-style: disc;
	float: left;
	margin: 0 0 0 38px;
	padding: 0 0 0 15px;
	width: 295px;
}
#body div#content div#services div.section div ul li {
	background: none;
	float: none;
	letter-spacing: 0.025em;
	padding: 0;
	width: auto;
}
#body div#content div#services div.sidebar {
	background: #2e2d2a;
	border-radius: 3px;
	color: #948d78;
	float: right;
	margin: 0 10px 0 0;
	padding: 20px;
	width: 220px;
}
#body div#content div#services div.sidebar h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 24px;
	margin: 0;
}
#body div#content div#services div.sidebar p {
	letter-spacing: 0.05em;
	padding: 0 0 10px;
}
#body div#content div#services div.sidebar div {
	border-top: 1px solid #22201f;
	padding: 15px 0;
}
#body div#content div#services div.sidebar div  p {
	padding: 0;
}
#body div#content div#services div.sidebar div.first {
	border: none;
}
#body div#content div#services div.sidebar div a {
	color: #948d78;
	letter-spacing: 0.025em;
	line-height: 24px;
	text-decoration: none;
}
#body div#content div#services div.sidebar div span {
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 0.05em;
	line-height: 24px;
}
#body div#content div#blog {
	padding: 60px 0 0;
}
#body div#content div#blog div.section {
	float: left;
	width: 700px;
}
#body div#content div#blog div.section ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body div#content div#blog div.section ul li {
	background: #1a1918;
	border-radius: 3px;
	float: left;
	height: 313px;
	margin: 0 20px 42px 10px;
	padding: 15px 20px  20px;
	width: 280px;
}
#body div#content div#blog div.section ul li a img {
	display: block;
	filter: alpha(opacity=100);
	opacity: 1;
}
#body div#content div#blog div.section ul li a img.picture2 {
	float: left;
	margin: 8px 10px 0 0;
}
#body div#content div#blog div.section ul li a img.picture1 {
	margin: 10px 0;
}
#body div#content div#blog div#article img {
	display: block;
	margin: 15px 0;
}
#body div#content div#blog div.section ul li p {
	letter-spacing: 0.025em;
}
#body div#content div#blog div.section ul li p a.readmore {
	display: inline-block;
	text-decoration: none;
}
#body div#content div#blog div.section ul li h2,
#body div#content div#blog div.sidebar div h3,
#body div#content div#blog div#article h2 {
	color: #736e5f;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.025em;
	line-height: 24px;
	margin: 0;
}
#body div#content div#blog div.sidebar {
	float: right;
	margin: 0 10px 0 0;
	width: 220px;
}
#body div#content div#blog div.sidebar div {
	background: #1a1918;
	border-radius: 3px;
	padding: 15px 15px;
	margin: 41px 0 0;
}
#body div#content div#blog div.sidebar div:first-child {
	margin: 0;
}
#body div#content div#blog div.sidebar div h3 {
	font-size: 14px;
	text-transform: uppercase;
}
#body div#content div#blog div.sidebar div ul {
	list-style: disc inside;
	margin: 0;
	padding: 0;
}
#body div#content div#blog div.sidebar div ul li {
	line-height: 24px;
}
#body div#content div#blog div.sidebar div ul li a {
	color: #736e5f;
	letter-spacing: 0.025em;
	text-decoration: none;
}
#body div#content div#blog div.sidebar div ul li a:hover {
	text-decoration: underline;
}
#body div#content div#blog div#article {
	background: #1a1918;
	border-radius: 3px;
	float: left;
	margin: 0 0 0 10px;
	padding: 20px;
	width: 640px;
}
#body div#content div#blog div#article p {
	letter-spacing: 0.05em;
	text-align: justify;
}
#body div#content div#about {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 10px;
	width: 920px;
}
#body div#content div#about h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 25px 0 0;
}
#body div#content div#about h3:first-child {
	padding: 5px 0 0;
}
#body div#content div#about p,
#body div#content div#contact p {
	letter-spacing: 0.05em;
	line-height: 30px;
	text-align: justify;
}
#body div#content div#contact div div p {
	line-height: 24px;
}
#body div#content div#contact div div p a.email {
	color: #736E5F;
	text-decoration: none;
}
#body div#content div#contact {
	margin: 0 auto;
	overflow: hidden;
	padding: 5px 10px 0;
	width: 920px;
}
#body div#content div#contact div {
	background: url(../images/bg-border.png) repeat-y center top;
	overflow: hidden;
	margin: 44px 0 0;
}
#body div#content div#contact div div {
	background: none;
	float: left;
	margin: 0;
	width: 335px;
}
#body div#content div#contact div div h3,
#body div#content div#contact div form h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 15px 0 0;
	text-transform: uppercase;
}
#body div#content div#contact div div h3:first-child {
	padding: 0;
}
#body div#content div#contact div form {
	float: right;
	width: 512px;
}
#body div#content div#contact div form h3 {
	padding: 0;
	margin: 0;
}
#body div#content div#contact div form label {
	display: block;
	overflow: hidden;
	margin: 10px 0 0;
}
#body div#content div#contact div form label span {
	display: block;
	float: left;
	line-height: 30px;
	text-align: right;
	width: 110px;
}
#body div#content div#contact div form label input#name,
#body div#content div#contact div form label input#email {
	border: none;
	border-radius: 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	float: right;
	letter-spacing: 0.05em;
	padding: 0;
	height: 30px;
	line-height: 30px;
	width: 390px;
}
#body div#content div#contact div form label span.message {
	vertical-align: top;
}
#body div#content div#contact div form label textarea {
	border: none;
	border-radius: 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	float: right;
	height: 250px;
	letter-spacing: 0.05em;
	overflow: auto;
	padding: 0;
	resize: none;
	width: 390px;
}
#body div#content div#contact div form input#submit {
	background: #2f2d2b;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 0.075em;
	margin: 10px 0 0 120px;
	padding: 5px;
	text-align: center;
}
#footer {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0 auto;
	padding: 0 10px;
	width: 920px;
}
#footer div {
	overflow: hidden;
	padding: 10px 0 0;
}
#footer div div.first {
	float: left;
	padding: 0;
	width: 590px;
}
#footer div div.first a {
	color: #736e5f;
}
#footer div div.first a:hover {
	color: #c9bb90;
}
#footer div div.first p {
	letter-spacing: 0.05em;
	text-align: justify;
}
#footer div div.last {
	float: right;
	padding: 0;
	width: 295px;
}
#footer div div.last div {
	padding: 0 0 15px;
}
#footer div div.last div img{
	float: right;
        margin-left: 5px;
}
#footer div div.last div a {
	color: #736e5f;
}
#footer div div.last form {
	overflow: hidden;
	margin: 0;
}
#footer div div.last form input#newsletter {
	border: none;
	color: #636466;
	display: block;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	height: 34px;
	letter-spacing: 0.05em;
	line-height: 34px;
	margin: 0;
	padding: 0 7px;
	width: 236px;
}
#footer div div.last form input#go {
	background: #4b4946;
	border: none;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	float: left;
	height: 34px;
	letter-spacing: 0.05em;
	padding: 0;
	text-transform: lowercase;
	width: 40px;
}
#footer p.footnote {
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	letter-spacing: 0.075em;
	line-height: 75px;
	text-align: center;
}